@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* General page styles */
body {
    background-color: rgb(111, 984, 255);
    background-color: thistle;
    font-family: "Bebas Neue";
}

h1 {
    margin: aito;
    background-color: rgb(111, 984, 255);
    font-family: fantasy;
    font-weight: 300;
    background-color: rgb(29, 237, 237);
    border-style: dashed;
    border-width: 10px;
    text-align: center;
    border-color: plum;
}
h2 {
    margin: auto;
    text-align: center;
    font-family: fantasy;
    border-style: dashed;
    border-width: 15px;
    border-color: plum
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: goldenrod;
    font-style: initial;
    font-weight: 1000;
    background-color: greenyellow;
}
li {
    font-weight: 1000;
    font-family: fantasy;
    color: rgba(122, 11, 226, 0.654);
    background-color: rgb(231, 231, 243);
    text-shadow: #FC0 1px 0 10px;
}
h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
p {
    background-color: orange;
    font-family: "Cherry Bomb One";
}
hr {
    border-width: 5px;
    border-color: plum;
    border-style: dashed;

}
img {
    border-width: 10px;
    border-style: dashed;
    border-color: green;
    
}
.centered {
    text-align: center;
    margin: auto;
}